<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="awesomeLoginAction" name="/pages/dog" class="net.mv.action.LoginAction">
		<property name="loginService" ref="awesomeLoginService"></property>
	</bean>

	<bean id="awesomeLoginService" class="net.mv.service.LoginService">
	</bean>

</beans>
